
body {
	font-family: Tahoma, Arial;
	font-size: small;
}

table, th, td
{
  border-collapse:collapse;
  border:1px solid black;
  font-size: small;
}

th, td
{
  padding:5px;
}

pre 
{
  font-size: medium;
  border: 1px solid black;
  background-color: #ffffee;
}

.bottomImg
{
    position: fixed;
    max-width: 100%;
    right: 10px;
    bottom: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    top: -5px;
    left: 105%; 
}

p
{
  padding:5px;
  color: red;
}

.CRITICAL
{
  background-color: #ff8888;
}

.HIGH
{
  background-color: #ffaaaa;
}

.LOW
{
  background-color: #ffcccc;
}


  .addBox1 { 
    float: left;
    padding: 15px;
    width:3%;
    line-height:160%;
    
  }
  .addBox2   {
  text-align: center;
  vertical-align: -50px;
  line-height:140%;
   padding: 15px;
  float:left;
   width:10%;
  }

.clearfix::after {
    content:"";
    clear: both;
    display: table;
}

    ul {
    position: fixed;
    top: 0;
    width: 100%;
    height: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #b2b2b2;
    line-height:200%;
    border-bottom: 3px solid #919191;
    border-left: 3px solid #919191;
}

li{
background-color: #a0a0a0 ;
display: inline;
}

li a {
    color: black;    
    text-decoration: none;
     box-shadow: 2px 2px #606060;
      transition: 0.5s;
}

li a:hover {
    background-color: #d1d1d1;
}

navigatorButton{
background-color: #a0a0a0 ;
 position: fixed;
    top: 0;
    right:0;
    align: center;
    line-height:200%;
}
navigatorButton  a {
    color: black;    
    text-decoration: none;
     box-shadow: 2px 2px #606060;
      transition: 0.5s;
}
navigatorButton  a:hover {
    background-color: #d1d1d1;
}